.projects-container {
    padding: 2rem 0;
  }
  
  .projects-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  

  
  .project-card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid; 
    grid-template-rows: 1fr auto; 
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem 0.5rem 0 0; 
  }
  
  .project-card-content {
    padding: 1rem;
  }
  
  .project-card-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .project-card-description {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .project-card-links {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
  

  .project-card-links a {
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .project-card-links a.live {
    color: #f44336; 
    background-color: #ffebee;
    border: 1px solid #007bff;  
  }  
  
   .project-card-links a.live:hover {
    background-color: #e57373; 
    color: #fff;
    border-color: #e57373;
  }
  

   .project-card-links a.client-code {
    color: #28a745; 
    background-color: #e9f9ec; 
    border: 1px solid #28a745; 
  }
  
  .project-card-links a.client-code:hover {
    background-color: #1e7e34; 
    color: #fff;
    border-color: #1e7e34;
  } 
  
   .project-card-links a.server-code {
    color: #ffc107; 
    background-color: #fff8e1; 
    border: 1px solid #ffc107; 
  } 
  

  .project-card-links a.server-code:hover {
    background-color: #d99e00; 
    color: #fff;
    border-color: #d99e00;
  } 



    /* media query for medium screens */
    @media (min-width: 768px) {
      .projects-grid {
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
    /* media query for large screens */
    @media (min-width: 1024px) {
      .projects-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
      }
    }