.footer {
    background-color: #f8f8f8;
    padding: 40px 20px; 
    text-align: center; 
  }
  
  .footer-social {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    margin-bottom: 20px; 
  }
  
  .footer-social a {
    color: #777; 
    font-size: 2rem; 
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.3s ease;
  }


  .footer-social a:hover {
    color: #333; 
  }
  
  .footer-divider {
    border-top: 3px solid #ddd; 
    margin: 20px auto; 
    width: 80%; 
  }
  
  .footer-copyright p {
    color: #151515; 
    font-size: 1rem;
    margin: 0;
  }